
:root {
  /* Step 0: 32px → 48px */
  --h1: clamp(2rem, 0.8571rem + 2.381vi, 3rem);
  /* Step 0: 28px → 40px */
  --h2: clamp(1.75rem, 0.8929rem + 1.7857vi, 2.5rem);
  /* Step 0: 24px → 32px */
  --h3: clamp(1.5rem, 0.9286rem + 1.1905vi, 2rem);
  /* Step 0: 18px → 24px */
  --h4: clamp(1.125rem, 0.6964rem + 0.8929vi, 1.5rem);
  /* Step 0: 20px → 20px */
  --h5: clamp(1.25rem, 1.25rem + 0vi, 1.25rem);
  /* Step 0: 18px → 18px */
  --h6: clamp(1.125rem, 1.125rem + 0vi, 1.125rem);
  --sidebarWidthPadding: 5.5rem;
  --widthAndPosition: 16.25rem;
}

@import 'react-date-picker/dist/DatePicker.css';
@import 'react-calendar/dist/Calendar.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

// @import '@wojtekmaj/react-datetimerange-picker/dist/DateTimeRangePicker';
// @import 'react-calendar/dist/Calendar';
// @import 'react-clock/dist/Clock';

html, body { @apply flex min-h-screen font-sans text-themeGrayscale text-base scroll-smooth }
body { @apply grow  }
#__next { @apply grow flex flex-col overflow-hidden }
h1, h2, h3, h4, h5, h6 { @apply font-bold leading-[1.2] mb-6 text-themeGrayscale dark:text-themeGrayscale300 }
h1 { font-size: var(--h1); }
h2 { font-size: var(--h2); }
h3 { font-size: var(--h3); }
h4 { font-size: var(--h4); }
h5 { font-size: var(--h5); }
h6 { font-size: var(--h6); }
p { @apply mb-4}
a { @apply text-themePrimary underline font-bold hover:no-underline }


.iconList {
  li {
    svg { @apply w-full h-auto }
  }
}


@import "assets/scss/components/form";
@import "assets/scss/components/elements";
@import "assets/scss/theme";



